* {
    /* box-sizing: border-box; */
    /* padding: 0;
    margin: 0; */
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 6rem;
    /* padding: 2rem; */
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-right-section a {
    margin: 1rem;
    color: #000000;
}


/* nav ul li {
    list-style: none;
    display: inline;
    margin-left: 1rem;
    color: #707479;
} */

.image-container {
    display: inline;
    margin-left: 1.5rem;
}

.image-container .menu-apps {
    height: 2rem;
}

.image-container .foto-user {
    border-radius: 50%;
    height: 3rem;
}

main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

main div input {
    display: block;
    width: 100%;
    background-color: indianred;
}

main div button {
    display: inline;
    margin: 1rem;
    padding: 1.2rem;
    font-size: 1.3rem;
    border: none;
    color: #707479;
    border-radius: 5px;
}

main div button:hover {
    border: solid 1px #C6C6C6;
}

main span {
    display: block;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    color: #707479;
}

main span a {
    list-style: none;
    color: #6488BE;
}

footer {
    width: 100%;
    height: 4.5rem;
    background-color: #F2F2F2;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer div {
    flex: auto;
}

footer div ul li {
    display: inline;
    list-style: none;
    margin-left: 2rem;
}

footer div ul li a {
    text-decoration: none;
    color: #707479;
}

.opciones-der {
    text-align: right;
    margin-right: 2rem;
}