* {
    /* box-sizing: border-box; */
    /* padding: 0;
    margin: 0; */
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 6rem;
    /* padding: 2rem; */
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-right-section a {
    margin: 1rem;
    color: #000000;
}

.icon-image {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.foto-nav {
    background-image: url('https://lh3.googleusercontent.com/ogw/ADGmqu9N46dMAJKoo9PI1O2mCiB9kqdl0RY4hFozwSza=s32-c-mo');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 1rem;
    cursor: pointer;
}

.image-container {
    display: inline;
    margin-left: 1.5rem;
}

.image-container .menu-apps {
    height: 2rem;
}

.image-container .foto-user {
    border-radius: 50%;
    height: 3rem;
}

.container {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.main-input {
    border-radius: 25px;
    border: solid 1px #EEEEEF;
    width: 580px;
    height: 4rem;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-input input {
    width: 85%;
    border: none;
    outline: none;
}

.main-input .search-icon img {
    height: 1.4rem;
    margin: auto;
    padding: 1rem;
}

.micro-icons img {
    height: 1.8rem;
    margin: auto;
    padding: 1rem;
}

.main-buttons {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.main-buttons button {
    margin: 1rem;
    padding: 2rem;
    border: none;
    height: 3rem;
    border-radius: 5px;
    color: #707479;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.main-buttons button:hover {
    border: solid 1px #C6C6C6;
    color: #000000;
    background-color: #F4F4F4;
}

footer {
    width: 100%;
    height: 4.5rem;
    background-color: #F2F2F2;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer div {
    flex: auto;
}

footer div ul li {
    display: inline;
    list-style: none;
    margin-left: 2rem;
}

footer div ul li a {
    text-decoration: none;
    color: #707479;
}

.opciones-der {
    text-align: right;
    margin-right: 2rem;
}