* {
    /* box-sizing: border-box; */
    /* padding: 0;
    margin: 0; */
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 6rem;
    /* padding: 2rem; */
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-right-section a {
    margin: 1rem;
    color: #000000;
}

.icon-image {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.foto-nav {
    background-image: url('https://lh3.googleusercontent.com/ogw/ADGmqu9N46dMAJKoo9PI1O2mCiB9kqdl0RY4hFozwSza=s32-c-mo');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 1rem;
    cursor: pointer;
}

.image-container {
    display: inline;
    margin-left: 1.5rem;
}

.image-container .menu-apps {
    height: 2rem;
}

.image-container .foto-user {
    border-radius: 50%;
    height: 3rem;
}

.container {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.main-input {
    border-radius: 25px;
    border: solid 1px #EEEEEF;
    width: 540px;
    height: 40px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-input input {
    width: 85%;
    border: none;
    outline: none;
}

.main-input:hover {
    box-shadow: 0px 1px 6px 0px #20212447;
    border: #dfe1e500;
}

.main-input .search-icon img {
    height: 1.4rem;
    margin: auto;
    padding: 1rem;
}

.micro-icons img {
    height: 1.8rem;
    margin: auto;
    padding: 1rem;
}

.main-buttons {
    width: 530px;
    margin: auto;
}

.main-buttons div {
    display: inline-block;
}

.main-buttons button {
    height: 3.6rem;
    background-color: #f2f2f2;
    color: #707479;
    border: none;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 0 1.5rem;
    cursor: pointer;
    margin: 0 0.75rem;
}

.main-buttons button:hover {
    border: solid 1px #C6C6C6;
    color: #000000;
    background-color: #F4F4F4;
}

.text-info {
    display: block;
    margin-top: 20px;
    text-align: center;
}

footer {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer div ul li a {
    margin: 10px;
    color: #707479;
}

.opciones-der {
    justify-content: flex-end;
}

.opciones-izq {
    justify-content: flex-start;
}